<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DepartamentoServletController</servlet-name>
  	<display-name>DepartamentoServletController</display-name>
  	<description></description>
  	<servlet-class>com.luiguiprog.demoMaven4.app.controller.DepartamentoServletController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CuidadServletController</servlet-name>
  	<display-name>CuidadServletController</display-name>
  	<description></description>
  	<servlet-class>com.luiguiprog.demoMaven4.app.controller.CuidadServletController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpleadosServletController</servlet-name>
  	<display-name>EmpleadosServletController</display-name>
  	<description></description>
  	<servlet-class>com.luiguiprog.demoMaven4.app.controller.EmpleadosServletController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DepartamentoServletController</servlet-name>
  	<url-pattern>/DepartamentoServletController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CuidadServletController</servlet-name>
  	<url-pattern>/CuidadServletController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpleadosServletController</servlet-name>
  	<url-pattern>/EmpleadosServletController</url-pattern>
  </servlet-mapping>
 </web-app>	
